__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
bin/
lib/
include/
local/
.DS_Store
.git/
.gitignore
data_images/*.jpeg
data_images/*.jpg
data_images/*.png
!data_images/.gitkeep
